@mixin sunburst($color1, $color2, $bursts) {
  
  $stops: ();
  $boolean: false;

  @for $i from 0 through $bursts {
    $color: $color1;
    @if ($boolean) {
      $boolean: false;
      $color: $color2;
    } @else {
      $boolean: true;
    }
    $deg: ((($bursts - $i)/$bursts)*180deg)-90;
    $new-stops: linear-gradient($deg, transparent 50%, $color 50%, $color);
    $stops: join($stops, $new-stops, comma);
  }

  &:before,
  &:after {
    content: '';
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    background-size: 200% 100%;
    background-image:($stops);
  }
  &:before {
    left: 50%;
    transform: rotate(180deg);
  }

}
